%A facility that represents prey in the Lotka-Volterra integration tests

Prey {
        % [String] No documentation
    commod = 

        % [Int] age of prey at start of simulation
    age = 0

        % [Boolean] flag for whether prey is currently dead
    dead = 0

        % [Int] number of children born at each birthing instance
    nchildren = 1

        % [Int] number of time steps between birth of children
    birth_freq = 1

        % [Boolean] whether or not simultaneous birth and death are allowed (i.e., can a facility give birth and die in the same time step?)
    birth_and_death = 1

}
