%A minimum implementation sink facility that accepts specified amounts of commodities from other agents

Sink {
        % [Unknown] commodities that the sink facility accepts 
    in_commods = 

        % [Unknown] No documentation
    in_commod_prefs = 

        % [String] Name of recipe to request.If empty, sink requests material no particular composition.
    recipe_name = 

        % [double] total maximum inventory size of sink facility
    max_inv_size = 1e+299

        % [double] capacity the sink facility can accept at each time step
    capacity = 

        % [double] No documentation
    latitude = 

        % [double] No documentation
    longitude = 

}
