%A minimum implementation source facility that provides a commodity with a given capacity

Source {
        % [String] No documentation
    outcommod = 

        % [String] No documentation
    outrecipe = 

        % [double] No documentation
    inventory_size = 

        % [double] No documentation
    throughput = 

        % [double] No documentation
    latitude = 

        % [double] No documentation
    longitude = 

}
